@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
  }

body {
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header{
    color: var(--text-dark);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

nav{
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.nav__logo{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--text-dark);
}

.nav__links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    font-weight: 500;
    color: var(--text-light);
    transition: .3s;
}

.link a:hover {
    color: var(--primary-color);
  }

  .header__container{
    padding: 1rem 1rem 5rem 1rem;
  }

  .header__image__container{
    position: relative;
    background-image: linear-gradient(
        to right,
        rgba(44, 56, 85, 0.9),
        rgba(100, 125, 187, 0.1)
      ),url("/Assets/header.jpg");
    min-height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
  }

  .header__text{
    max-width: 600px;
    padding: 5rem 2rem;
  }

  .header__title{
    color: var(--white);
    font-size: 3rem;
  }

  .header__subtitle{
    color: var(--white);
    font-size: 1rem;
  }

.booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .booking__container form {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .booking__container .input__group {
    width: 100%;
    position: relative;
  }
  
  .booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
  }
  
  .booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
  }
  
  .booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
  }
  
  .booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
  }
  
  .booking__container .btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .booking__container .btn:hover {
    background-color: var(--primary-color-dark);
  }

  .card__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 4rem;
  }

  .card{
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }

  .card__content{
    padding: 1rem;
  }

  .card__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    gap: 1rem;
  }

  .card_title{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }

  .card__subtitle{
    color: var(--text-light);
  }

  .clinet{
    background: var(--extra-light);
  }

  .client__box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 4rem;
  }

  .client__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  }

  .client__card img{
    max-width: 80px;
    border-radius: 50%;
    margin-top: 1rem;
  }

  .client__card p{
    padding: 20px;
    text-align: center;
  }

  @media (width < 900px) {
    .booking__container form {
      grid-template-columns: repeat(2, 1fr);
    }

    .card__grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .client__box{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
  
  }
  
  @media (width < 600px) {
    .nav__links {
      display: none;
    }
  
    .header__container {
      padding-bottom: 25rem;
    }
  
    .booking__container {
      flex-direction: column;
      bottom: -25rem;
    }
  
    .booking__container form {
      grid-template-columns: repeat(1, 1fr);
    }

    .card__grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .client__box{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
  
  }

